extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p
            | Is your computer running slow?
          p
            a.btn.btn-primary.btn-lg(href="#") Read More
        .col-md-5
          img(src='images/mouse.png')
  .row
    .col-md-4
      .well
        h4 Hardware Problems?
        p
          Do you have hardware problems?
    .col-md-4
      .well
        h4 Software Problems?
        p
          Do you have software problems?
    .col-md-4
      .well
        h4 PC Tune Up
        p
          PC Tune Up problems?    
